* {
    margin: 0;
    font-family: cursive;

    padding: 0;
}


.navbar {
    width: 100%; /* Establece el ancho al 100% del contenedor */
    height: 9vh;
}


.navbar-nav .nav-link {
    border-bottom: 2px solid transparent; 
    transition: border-bottom 1s; 
}

.navbar-nav .nav-link:hover {
    border-bottom: 3px solid rgb(222, 245, 187);
}

#profesores-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;

}

#profesores-formulario{
    width: 35vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 20px  20px 20px 50px rgb(222, 245, 187, 0.5 );
    padding: 20px;
    border-radius: 15px;
}

#estudiantes-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;

}

#estudiantes-formulario{
    width: 35vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    box-shadow: 20px  20px 20px 50px rgb(222, 245, 187, 0.5 );
    padding: 20px;
    border-radius: 15px;
}

#asignaturas-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;

}

#asignaturas-formulario{
    width: 35vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 20px  20px 20px 50px rgb(222, 245, 187, 0.5 );

}

#matriculas-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;

}

#matriculas-formulario{
    width: 35vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 20px  20px 20px 50px rgb(222, 245, 187, 0.5 );

}

#modulox{
    margin-top: 5vh;
    text-align: center;
}

#tabla-container{
    width: 60vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20vw;
    text-align: center;
    

}
#tablaSalones-container{
    width: 60vw;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20vw;
    text-align: center;

}
#tablaProgramas-container{
    width: 60vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20vw;
    text-align: center;

}
#tablaCursos-container{
    width: 60vw;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20vw;
    text-align: center;

}
#tablaTarifas-container{
    width: 60vw;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20vw;
    text-align: center;

}
#tablaEstudiantes-container{
    
    width: 60vw;
    height: 250vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20vw;
    text-align: center;

}

#tablaProfesores-container{

    width: 60vw;
    height: 180vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20vw;
    text-align: center;

}
#tablaAsignaturas-container{

    width: 60vw;
    height: 450vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20vw;
    text-align: center;

}
#tablaMatriculas-container{

    width: 60vw;
    height: 290vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20vw;
    text-align: center;

}

button{
    background-color: black;
    color: white;
    height: 45px;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(222, 245, 187);
    color: black;
}

button:active{
    background-color: black;
    color: white;
}

#volverButton {
    margin: 0 auto; /* Configura los márgenes automáticamente, centrando horizontalmente el botón */
    display: block; /* Asegura que el botón se comporte como un bloque */
    margin-bottom: 30px;
}

#botones-informe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#botones-informe button{
    width: 25%;
    height: 10vh;
}

#mas_matriculada_container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#mostrarHorario-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}

#mostrarHorario-formulario{
    width: 45vw;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
}

#costoTotal-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}

#costoTotal-formulario{
    width: 25vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 15px;
}

